/geometria2/nbproject/private/
/geometria2/build/
/NewProjRobo2023/nbproject/private/
/ArgsLinhadeComando/nbproject/private/
/ArgsLinhadeComando/build/
/AppCmdMath2/nbproject/private/
/AppCmdMath3/nbproject/private/
/JavaApplication14/nbproject/private/
/AppCmdMath3/build/
/AppCmdMath3/dist/
/AppCmdMath4/nbproject/private/
/JavaApplication16/nbproject/private/
/AppCmdMath4/dist/
/AppCmdMath4/build/
/comparacao/nbproject/private/
/comparacao/build/
/comparacao/dist/
/AppHelloWord2024/nbproject/private/
/AppHelloWord2024/build/
/AppHelloWord2024/dist/
